@font-face {
    font-family: 'Robofan-Regular';
    src: url('../fonts/Robofan-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Robofan-Regular.otf') format('opentype'),
    url('../fonts/Robofan-Regular.woff') format('woff'), url('../fonts/Robofan-Regular.ttf') format('truetype'), url('../fonts/Robofan-Regular.svg#Robofan-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'PT Sans', sans-serif;
}

.robofan-r {
    font-family: 'Robofan-Regular' !important;
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.container {
    margin: 0;
    padding: 0;
}

.tab-content {
    height: 633px;
}

.searchFriends {
    position: absolute;
    top: 72px;
    left: 80px;
    height: 30px;
}

.searchFriends input {
    height: 30px;
    font-weight: bold;
    font-size: 16px;
    color: #c11233;
    width: 380px;
    border: 0;
    outline: 0;
    background: transparent;
}

.orderFriends {
    margin-top: 16px;
}

.orderFriends select {
    width: 175px;
}

.friendsList {
    margin-top: 16px;
}

.ava-img {
    width: 25px;
}

.friend-info {
    padding-left: 5px;
}

.friend-info-name {
    padding-left: 0px;
}

.friend-info-block {
    margin: 0;
    padding-left: 20px;
    font-weight: bold;
    font-size: 16px;
    color: #c11233;

    /*обрезка длинных строк*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.friend-info-block img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.friend {
    padding: 0px 0 8px 0;
}

.hide {
    display: none;
}

.hasbro-logo {
    position: absolute;
    bottom: 104px;
    right: 7px;
    width: 39px;
    height: 45px;
    background: url(../img/hasbro-logo.png) no-repeat;
}

.category-block {
    height: 633px;
    background: url(../img/back.png) no-repeat;
}

.autobote {
    position: absolute;
    top: 212px;
    left: 20px;
}

.autobote img {
    width: 270px;
    height: auto;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.autobote img:hover {
    transform: scale(1.04, 1.04);
}

.decepticon {
    position: absolute;
    top: 212px;
    right: 20px;
}

.decepticon img {
    width: 270px;
    height: auto;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.decepticon img:hover {
    transform: scale(1.04, 1.04);
}

.greeting-page {
    z-index: 100;
    position: absolute;
    width: 497px;
    left: 0;
    right: 0;
    margin: auto;
}

}
.greeting-block {
    height: 633px;
    margin-top: 0;
    /*background: url(../img/back.png) no-repeat;*/
}

.greeting-set-robot {
    height: 430px;
}

.autobot-list {
    position: absolute;
    top: 158px;
    width: 600px;
    height: 330px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    z-index: 100;
}

.autobot-list a {
    margin: 0;
    padding: 0;
}

.autobot-list img:focus {
    /*transform: scale(2, 2);*/
}

.autobot-list div {
    display: inline-block;
}

.autobot-list img {
    width: 102px;
    cursor: pointer;
    margin: 0 20px 20px;
}

.autobot-list.active-robot img {
    width: 122px;
    cursor: pointer;
    margin: 0 20px 20px;
}

.decepticon-list {
    position: absolute;
    top: 158px;
    width: 600px;
    height: 330px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    z-index: 100;
}

.decepticon-list a {
    margin: 0;
    padding: 0;
}

.decepticon-list img:active {
    /*transform: scale(1.1, 1.1);*/
}

.decepticon-list div {
    display: inline-block;
}

.decepticon-list img {
    width: 102px;
    cursor: pointer;
    margin: 0 20px 20px;
}

.greeting-set-msg {
    position: absolute;
    top: 468px;
    left: 0;
    right: 0;
    margin: auto;
    width: 497px;
    height: 174px;
    background: url(../img/text-selector-a.png) no-repeat;
}

.greeting-set-msg-c {
    position: relative;
    top: 70px;
}

.greeting-text {
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    color: #c11233;
    position: relative;
    width: 385px;
    height: 60px;
    left: 0;
    right: 0;
    margin: auto;
}

.greeting-set-user {
    position: absolute;
    top: 609px;
    left: 0;
    right: 0;
    margin: auto;
    width: 120px;
    text-align: center;
}

.greeting-set-user button.setFriend {
    margin: 0;
    border: 0;
    background: transparent;
    font-weight: bold;
    font-size: 14px;
    color: #c11233;
}

.greeting-set-user button.setFriend:hover, .greeting-set-user button.setFriend:active, .greeting-set-user button.setFriend:focus {
    background: transparent;
    outline: 0;
}

.carousel-control {
    text-shadow: 0 0px 0px rgba(0, 0, 0, .0);
}

.carousel-control.right {
    background: transparent;
}

.carousel-control.left {
    background: transparent;
}

.glyphicon {
    color: #c11233;
    cursor: pointer;
}

.modal-list-block {
    width: 45%;
    float: left;
}

.modal-detail-block {
    width: 45%;
    float: right;
}

.modal-dialog {
    position: absolute;
    width: 497px;
    height: 530px;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
}

.modal-content {
    width: 497px;
    height: 530px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
    border: 0;
    background: url(../img/back-popup.png) no-repeat;
}

.friend-list {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 279px;
    height: 300px;
    position: absolute;
    top: 146px;
    left: -22px;
}

.friend-list ul {
    list-style-type: none;
}

.friend-list ul a {
    text-decoration: none;
}

.friend-list ul li {
    text-align: left;
    line-height: 51px;
    height: 51px;
    background: url(../img/liline.png) no-repeat center bottom;
}

.friend-list ul li:hover {
    background: url(../img/liline-hover.png) no-repeat center bottom;
}

.scroller-up {
    text-align: center;
    position: absolute;
    top: 104px;
    left: 0;
    width: 259px;
    font-weight: bold;
    font-size: 18px;
    color: #c11233;
    line-height: 51px;
    height: 51px;
    /*background: url(../img/liline-slim.png) no-repeat center bottom;*/
}

.scroller-down span {
    cursor: pointer;
}

.scroller-up span {
    cursor: pointer;
}

.scroller-down {
    text-align: center;
    position: absolute;
    top: 446px;
    left: 0;
    width: 259px;
    font-weight: bold;
    font-size: 18px;
    color: #c11233;
    line-height: 51px;
    height: 51px;
    /*background: url(../img/liline-slim.png) no-repeat center top;*/
}

.modal {
    display: block;
    background: rgba(0, 0, 0, 0.6);
}

.modal-detail-block {
    width: 140px;
    height: 200px;
    position: absolute;
    right: 42px;
    top: 148px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;

}

.modal-detail-block img {
    border: 0;
    width: 140px;
    height: 140px;
    margin-bottom: 8px;
}

.startSwf {
    position: absolute;
    top: 536px;
    left: 0;
    right: 0;
    margin: auto;
    width: 175px;
    height: 32px;
    border-radius: 0;
    background-color: #c11233;
    border: 0;
}

.startSwf:hover, .startSwf:active, .startSwf:focus {
    background-color: #a6122e;
}

.flashContent {
    width: 100%;
    height: 100%;
}

.nav {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 28px;
    background: #b7232a;
    background: -moz-linear-gradient(top, #b7232a 0%, #a82027 100%);
    background: -webkit-linear-gradient(top, #b7232a 0%, #a82027 100%);
    background: linear-gradient(to bottom, #b7232a 0%, #a82027 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b7232a', endColorstr='#a82027', GradientType=0);

}

.nav-tabs {
    border-bottom: 0px solid #ddd;
    position: absolute;
    top: 0;
    /*font-family: 'Robofan-Regular' !important;*/
    font-weight: normal;
    font-style: normal;
}

.nav li {
    width: 170px;
    height: 28px;
    text-align: center;
}

.nav > li > a {
    padding: 0;
    margin: 0;
    line-height: 28px;
    border-radius: 0;
    border: 0;
}

.nav-tabs a {
    color: #fff;
    background-color: transparent;
    border: 0;
    font-size: 12px;
    font-weight: bold;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #fff;
    border: 0px solid #ddd;
    background: #631217;
    background: -moz-linear-gradient(top, #631217 0%, #a01e25 100%);
    background: -webkit-linear-gradient(top, #631217 0%, #a01e25 100%);
    background: linear-gradient(to bottom, #631217 0%, #a01e25 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#631217', endColorstr='#a01e25', GradientType=0);

}

.nav-tabs > li > a:hover {
    color: #fff;
    cursor: pointer;
    background-color: #fff;
    border: 0px solid #ddd;
    background: #b7232a;
    background: -moz-linear-gradient(top, #b7232a 0%, #a82027 100%);
    background: -webkit-linear-gradient(top, #b7232a 0%, #a82027 100%);
    background: linear-gradient(to bottom, #b7232a 0%, #a82027 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b7232a', endColorstr='#a82027', GradientType=0);
}

.flash-object {
    z-index: 90;
    position: absolute;
    top: 28px;
}

.flash-object-main {
    position: absolute;
    top: 0;
    z-index: 80;
}

.final-buttons {
    position: absolute;
    text-align: center;
    width: 380px;
    top: 600px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
}

.final-buttons button {
    position: relative;
    width: 175px;
    height: 32px;
    border-radius: 0;
    background-color: #c11233;
    border: 0;
    display: inline-block;
}

.final-buttons button:hover, .final-buttons button:active, .final-buttons button:focus {
    background-color: #a6122e;
}

.category-help-text {
    text-align: center;
    position: absolute;
    width: 90%;
    font-weight: bold;
    font-size: 22px;
    color: #c11233;
    top: 480px;
    left: 0;
    right: 0;
    margin: auto;
}

.selection-block-texts {
    font-weight: bold;
    font-size: 14px;
    color: #c11233;
    line-height: 12px;
    z-index: 100;
}

.selection-block-text1 {
    position: absolute;
    top: 118px;
    left: 120px;
    margin: auto;
}

.selection-block-text2 {
    position: absolute;
    top: 34px;
    left: 160px;
    margin: auto;
    font-size: 14px;
    text-transform: uppercase;
}

.selection-block-text3 {
    position: absolute;
    top: 620px;
    left: 252px;
    margin: auto;
    font-size: 12px;
}

.transformers-logo {
    position: absolute;
    top: 60px;
    width: 392px;
    height: 89px;
    left: 0;
    right: 0;
    margin: auto;
    background: url(./../img/transformers-logo.png) no-repeat;
}

/* --- */
.animate-show {
    opacity: 1;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
    transition: all linear 0.5s;
}

.animate-show.ng-hide {
    opacity: 0;
}

.animate-showup {
    transform: translate3d(0, 0, 0);
}

.animate-showup.ng-hide-add, .animate-showup.ng-hide-remove {
    transition: all linear 0.4s;
}

.animate-showup.ng-hide {
    transform: translate3d(0, -100px, 0);
}

.active-robot {
    transform: scale(1.8, 1.8);
    opacity: 1;
    transition: all 0.2s;
}

.slow-fade {
    opacity: 0;
}

.animate-move-up {
    transition: all 500ms cubic-bezier(0.680, 0.015, 0.270, 1.000);
}

.animate-move-up.on-add {
    transform: translate3d(0, 0, 0);
}

.animate-move-up.on {
    transform: translate3d(0, -270px, 0) scale(0.6);

}

.animate-move-up.on-remove {
    transform: translate3d(0, -270px, 0) scale(0.6);
}

.animate-move-up-l {
    transition: all 500ms cubic-bezier(0.680, 0.015, 0.270, 1.000);
}

.animate-move-up-l.on-add {
    transform: translate3d(0, 0, 0);
}

.animate-move-up-l.on {
    transform: translate3d(0, -46px, 0) scale(0.4);

}

.animate-move-up-l.on-remove {
    transform: translate3d(0, -46px, 0) scale(0.4);
}

.catalog-container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 622px;
    top: 28px;
    width: 100%;
    position: absolute;
}

.catalog {
    position: absolute;
    top: 28px;
    left: 0;
    right: 0;
    margin: auto;
    width: 550px;
    text-align: center;
    height: auto;
    padding-top: 0;
}

.catalog-robot {
    float: left;
    width: 30%;
}

.catalog-robot img {
    width: 150px;
}

#swiffycontainer {
    position: absolute;
}

#swiffycontainer canvas {
    /*left: -61px !important;*/
    /*top: -30px !important;*/
    height: 661px;
}

.catalog-tab {
    position: relative;
}

.catalog-robot {
    position: relative;
    width: 180px;
    height: auto;
    display: inline;
}

.catalog-robot a {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: #c11233;
    line-height: 12px;
}

.catalog-robot .bottom-line {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    width: 170px;
    height: 4px;
}

.catalog-robot img.c-photo {
    margin-bottom: 10px;
}

.catalog-robot p {
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    color: #c11233;
    margin: 0 0 10px 18px;
    width: 170px;
}

.catalog-robot p.c-name {

}

.catalog-robot p.c-series {

}

.catalog-robot p.c-description {
    font-weight: normal;
    font-size: 10px;
    color: #000;
}

.catalog-robot p.c-article {

}

.catalog-bottom-line {
    width: 627px;
    height: 24px;
    position: absolute;
    bottom: 76px;
}

button.again-button2 {
    width: 200px;
}

.bottom-banner {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 627px;
    height: 90px;
    z-index: 999;
}

#slider-wrapper {
    width: 497px;
    height: 80px;
    position: absolute;
    top: 72px;
}

#slider {
    width: 497px;
    height: 70px;
    position: relative;
}

.sp {
    width: 385px;
    height: 60px;
    position: absolute;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    color: #c11233;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

#nav {
    margin-top: 20px;
    width: 100%;
}

#button-previous {
    float: left;
    top: 60px;
    left: 27px;
    opacity: 0.6;
}

#button-previous:hover, #button-previous:active {
    opacity: 1;
}

#button-next {
    float: right;
    top: 60px;
    right: 27px;
    opacity: 0.6;
}

#button-next:hover, #button-next:active {
    opacity: 1;
}

.message-slider {
    width: 497px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    position: absolute;
    top: 0px;

}

.wall-warning {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
}

.wall-warning-message {
    position: absolute;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #c11233;
    left: 0;
    right: 0;
    top: 250px;
    width: 200px;
    height: 100px;
    background: #ffffff;
    border: 2px solid #c11233;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

.wall-warning-message button {
    margin: 0;
    border: 0;
    font-weight: bold;
    font-size: 12px;
    color: #ffffff;
    background-color: #c11233;
    margin-top: 10px;
}

.wall-warning-message button:hover, .wall-warning-message button:active, .wall-warning-message button:focus {
    background-color: #a6122e;
}

.main-preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 627px;
    height: 661px;
    background: url(../img/preloader-bg.jpg) no-repeat;
}

.preloader .right-anim {
    -webkit-animation: play .6s steps(11) infinite;
    -moz-animation: play .6s steps(11) infinite;
    animation: play .6s steps(11) infinite;
}

.main-preloader-animation {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
    width: 134px;
    height: 100px;
    background: url(../img/preloader-anim.png) no-repeat;

    -webkit-animation: preloader 1s steps(30) infinite;
    -moz-animation: preloader 1s steps(30) infinite;
    animation: preloader 1s steps(30) infinite;
}

@-webkit-keyframes preloader {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -4020px 0;
    }
}

@-moz-keyframes preloader {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -4020px 0;
    }
}

@keyframes preloader {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -4020px 0;
    }
}

.modalBack {
    position: absolute;
    top: 28px;
    left: 0;
    width: 100%;
    height: 625px;
}