<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta property="og:title"
          content="Отправь своим друзьям поздравление от одного из любимых героев мультсериала «Роботы под прикрытием»">
    <meta property="og:url" content="https://vk.com/app5169535/">
    <title>Трансформеры - Новогодняя трансформация</title>

    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic-ext'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">

</head>

<body>
<div class="container" ng-app="transformersApp">
    <!--Tabs - Закладки-->
    <div class="main-preloader" id="main-preloader">
        <div class="main-preloader-animation"></div>
    </div>
    <div class="TabsCtrlClass" ng-controller="TabsCtrl">
        <uib-tabset>
            <uib-tab heading="Сделай свою открытку" ng-click="initApp()">
                <div class="category-page">

                    <div id="swiffycontainer" style="width: 627px; height: 661px; display: none;"></div>
                    <object class="flash-object-main" type="application/x-shockwave-flash" data="main.swf" width="627"
                            height="661" id="main-swf"
                            style="float: none; vertical-align:middle">
                        <param name="movie" value="main.swf"/>
                        <param name="quality" value="high"/>
                        <param name="bgcolor" value="#ffffff"/>
                        <param name="play" value="true"/>
                        <param name="loop" value="true"/>
                        <param name="wmode" value="opaque"/>
                        <param name="scale" value="showall"/>
                        <param name="menu" value="true"/>
                        <param name="devicefont" value="false"/>
                        <param name="salign" value=""/>
                        <param name="allowscriptaccess" value="always"/>
                        <a href="http://www.adobe.com/go/getflash">
                            <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif"
                                 alt="Get Adobe Flash player"/>
                        </a>
                    </object>

                    <div class="greeting-page hide">
                        <div class="greeting-block">
                            <div class="greeting-set-msg hide">
                                <div ng-controller="CarouselCtrl">
                                    <div class="greeting-set-msg-c">
                                        <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
                                            <uib-slide ng-repeat="slide in slides" active="slide.active">
                                                <div>
                                                    <!--<h4>Выбери поздравление:</h4>-->
                                                    <p class="greeting-text" msgId="{{slide.id}}">
                                                        {{slide.text}}{{slide.name}}{{slide.type}}</p>
                                                </div>
                                            </uib-slide>
                                        </uib-carousel>
                                    </div>
                                </div>
                                <div class="message-slider" ng-controller="MessagesCtrl">
                                    <div id="slider-wrapper" class="slider-wrapper">
                                        <div id="slider">
                                            <div class="sp" ng-repeat="message in messages" msgId="{{message.id}}">
                                                {{message.text}}
                                            </div>
                                        </div>
                                    </div>
                                    <!--<button ng-click="loadMessageData()">Refresh</button>-->
                                    <div id="nav"></div>
                                    <div id="button-previous" class="glyphicon glyphicon-chevron-left"
                                         style="font-size:21px;"></div>
                                    <div id="button-next" class="glyphicon glyphicon-chevron-right"
                                         style="font-size:21px;"></div>
                                </div>
                                <div class="selection-block-texts hide">
                                    <div class="selection-block-text2">
                                        2. Выбери поздравление
                                    </div>
                                </div>
                            </div>
                            <div class="greeting-set-user">
                                <div class="ModalDemoCtrlClass" id="modalList" ng-controller="ModalCtrlFull">
                                    <div class="modal myModal hide" id="myModal">
                                        <div class="modalBack" ng-click="closeModal()"></div>
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <div ng-controller="VkFriends">
                                                        <div class="searchFriends">
                                                            <input ng-model="query">
                                                        </div>
                                                        <div class="scroller-up">
                                                            <span id="scroller-up"
                                                                  class="glyphicon glyphicon-menu-up"></span>
                                                        </div>
                                                        <div class="scroller-down">
                                                    <span id="scroller-down"
                                                          class="glyphicon glyphicon-menu-down"></span>
                                                        </div>
                                                        <div class="modal-list-block">
                                                            <div class="friend-list" id="friend-list">
                                                                <ul>
                                                                    <li ng-repeat="friend in friends | filter:query">
                                                                        <a href="#"
                                                                           ng-click="$event.preventDefault(); setFriend(friend.user_id); selected.friend = friend;">
                                                                            <div class="friend-info-block">
                                                                                <img ng-src="{{friend.photo_50}}">
                                                                                <span class="friend-info-name"
                                                                                      title="{{friend.first_name + ' ' + friend.last_name}}">{{friend.first_name + ' ' + friend.last_name | limitTo:20}}</span>
                                                                            </div>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="modal-detail-block">
                                                            <div>
                                                                <img ng-src="{{selected.friend.photo_200}}">
                                                                <span class="friend-info-name">
                                                        {{selected.friend.first_name}}
                                                        <br>
                                                        {{selected.friend.last_name}}
                                                    </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary startSwf hide" type="button" ng-click="ok()">
                                            ВЫБРАТЬ
                                        </button>
                                    </div>
                                    <button type="button"
                                            class="btn btn-default setFriend setFrieselection-block-text3nd hide"
                                            ng-click="open()">
                                        3. ВЫБЕРИ ДРУГА
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swf hide" ng-controller="PublishCtrl">
                    <div class="flashContent">
                        <div class="final-buttons">
                            <button type="button" class="btn btn-success againBtn hide" ng-click="initApp()">
                                СДЕЛАТЬ НОВУЮ
                            </button>
                            <button type="button" class="btn btn-success onWallBtn hide" ng-click="onWall()">
                                ОТПРАВИТЬ ДРУГУ
                            </button>
                            <button type="button" class="btn btn-success repeatBtn hide" ng-click="repeat()">
                                ПРОИГРАТЬ ЕЩЕ РАЗ
                            </button>
                        </div>

                    </div>
                    <div class="wall-warning hide">
                        <div class="wall-warning-message">
                            <div>Стена друга закрыта</div>
                            <div>
                                <button type="button" class="btn btn-success onWallWarning" ng-click="wallWarning()">
                                    OK
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="http://www.hasbro.com/ru-ru" target="_blank">
                    <div class="hasbro-logo"></div>
                </a>
            </uib-tab>
            <uib-tab class="catalog-tab" heading="Изучи всех Трансформеров">
                <div class="catalog-container">
                    <div class="catalog" ng-controller="RobotsCatalogCtrl">
                        <div class="catalog-robot" ng-repeat="robot in robotsCatalog">
                            <div class="catalog-current-robot" style="height:{{robot.h}}px;">
                                <a href="{{robot.url}}" target="_blank">
                                    <img class="c-photo" ng-src="{{robot.photo}}">
                                    <p class="c-name">{{robot.name}}</p>
                                    <!--<p class="c-series">{{robot.series}}</p>-->
                                    <p class="c-description">{{robot.description}}</p>
                                    <p class="c-article">Артикул: {{robot.article}}</p>
                                </a>
                                <img src="img/dotline.png" alt="" class="bottom-line">
                            </div>
                        </div>
                    </div>
                </div>
                <img class="catalog-bottom-line" src="img/redlines.png" alt="">
            </uib-tab>
        </uib-tabset>
    </div>
</div>

<a href="https://vk.com/transformers_russia?w=page-55403010_44613932" target="_blank">
    <img class="bottom-banner" src="img/bottom-banner.png" alt="">
</a>

<script src="https://www.gstatic.com/swiffy/v7.4/runtime.js"></script>

<script src="//vk.com/js/api/xd_connection.js?2"></script>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular/angular-animate.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>

</body>
</html>